/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* ..... */
.container{
    min-width: 1200px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
}

.active{
    color: tomato !important;
}
/* Style for Site */



/* Header */
.site-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.4);
    transition: background-color 0.5s ease;
}

.site-header.white-header{
    background-color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
}

.site-header.site-header.white-header.site-logo{
    border: 5px solid #000;
    border-radius: 5px;
}

.site-header.white-header .sitenav-link{
    color: #000;
}


.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    background-color: #fff;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border 0.3s ;
    color: black;
    font-weight: 700;
}

.site-logo:hover{
    opacity: 0.8;
}

.site-logo:active{
    opacity: 0.6;
}



/* Nav */
.sitenav {
}
.sitenav-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.sitenav-item:not(:last-child) {
    margin-right: 15px;
    font-weight: 500px;
}
.sitenav-link {
    color: #fff;
    transition: color 0.3s;
}

.sitenav-link:hover{
    color: tomato;
}



/* Main */
.main-content {
    flex-grow: 1;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1650014431966-927b3ea8ba0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-container {
}
.hero-heading {
    font-family: 'Ms Madi', cursive;
    font-size: 65px;
    color: #fff;
    font-style: normal;
}
.hero-text {
    font-style: italic;
    color: #fff;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }